@model Day4Prj.Models.Student
@{
    ViewBag.Title = "TemplatedHelper";
}

<h2>TemplatedHelper</h2>

@using (Html.BeginForm())
{
    <table border="1" cellspacing="6" cellpadding="7">
        <tr>
            <td>@Html.DisplayName("RollNo")</td>
            <td>@Html.Editor("RollNo")</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m => m.RollNo)</td>
            <td>@Html.EditorFor(m => m.RollNo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(m =>m.Name)</td>
            <td>@Html.EditorFor(m =>m.Name) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m =>m.Gender)</td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
}